section.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2em;
  height: 100vh;
  width: 100%;
  background: lighten($orange-lighter, 20%);
  background: linear-gradient($orange-gradient, $yellow-gradient);
  position: relative;
  z-index: -1;

  .logo {
    max-width: 80vw;
    max-height: 80vh;
    z-index: 0;
  }

  .balloon, .satellite, .clouds {
    position: absolute;
    z-index: -2;
  }

  .balloon {
    height: 8em;
  }

  .satellite {
    height: 4em;
  }

  #balloon-1 {
    bottom: 50%;
    left: 10%;
    transform: rotate(-5deg) scale(1.2);
    opacity: 0.8;
    filter: blur(1px);
    -webkit-filter: blur(1px);
  }

  #balloon-2 {
    bottom: 30%;
    right: 10%;
    transform: rotate(3deg);
    opacity: 0.6;
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }

  #balloon-3 {
    bottom: -160%;
    right: 13%;
    transform: rotate(-4deg);
    opacity: 0.6;
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }


  #balloon-4 {
    bottom: -260%;
    left: 16%;
    transform: rotate(8deg);
    opacity: 0.6;
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }

   #balloon-5 {
    bottom: -360%;
    right: 9%;
    transform: rotate(-8deg);
    opacity: 0.6;
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }


  #satellite-1 {
    bottom: 75%;
    right: 25%;
    opacity: 0.7;
    filter: blur(2.5px);
    -webkit-filter: blur(2.5px);
  }

  #satellite-2 {
    bottom: -225%;
    right: 1%;
    opacity: 0.7;
    filter: blur(2.5px);
    -webkit-filter: blur(2.5px);
  }

  #satellite-3 {
    bottom: -330%;
    left: 7%;
    opacity: 0.7;
    filter: blur(2.5px);
    -webkit-filter: blur(2.5px);
  }

  #satellite-4 {
    bottom: -435%;
    right: 8%;
    opacity: 0.7;
    filter: blur(2.5px);
    -webkit-filter: blur(2.5px);
  }

  #satellite-5 {
    bottom: -125%;
    left: 13%;
    opacity: 0.7;
    filter: blur(2.5px);
    -webkit-filter: blur(2.5px);
  }

  #clouds-1 {
    bottom: -35%;
    right: 55%;
    opacity: 0.7;
    filter: blur(2.5px);
    -webkit-filter: blur(2.5px);
  }

  #clouds-2 {
    bottom: -270%;
    left: 30%;
    opacity: 0.7;
    filter: blur(2.5px);
    -webkit-filter: blur(2.5px);
  }

  #clouds-3 {
    bottom: -120%;
    left: 50%;
    opacity: 0.7;
    filter: blur(2.5px);
    -webkit-filter: blur(2.5px);
  }

}
