 section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  padding: 1em;
  background-color: transparentize($white, .3);
  background-image: url("../images/silhouette.png");
  background-repeat: no-repeat;
  background-size: 60vw;
  background-position: right;
  font-size: 1.15em;

  &> * {
    max-width: 48em;
  }

  &:nth-of-type(2n+1) {
    background-position: left;
    background-color: transparentize($yellow-lighter, .3);
  }

  &#logos {
    min-height: 0;
    padding: 5em;

    img {
      margin: 1em;
      max-width: 6em;
    }

    @include media($medium-screen-up) {
      flex-direction: row;
    }

    justify-content: space-around;
  }

  &.no-flex {
    position: relative;
    display: block;
    width: 100%;

    .vertical-align {
      position: absolute;
      width: 100%;
      padding: 1em;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include media($medium-screen-up) {
        width: 30em;
      }
    }

    h3 {
      text-align: center;
    }

  }

  @include media($medium-screen-up) {
    font-size: 1.6em;
    padding: 4em;
  }
}
