
.timeline {
  $action-color: #477DCA !default;

  display: flex;
  flex-direction: column;
  @include media($medium-screen-up) {
    font-size: 22px;
    flex-direction: row;
    border-top: .25em $action-color solid;
  }


  .item {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 1em;
    align-items: center;

    p {
      text-align: center;
    }

    &:before {
      content: '';
      background: $action-color;
      padding: 1em;
      width: 1em;
      margin-bottom: 1em;
      line-height: 0;
      border-radius: 2em;
      @include media($medium-screen-up) {
        margin-top: -2em;
      }
    }

    &.primary:before {
      background: adjust-hue($action-color, 130%);
    }
  }

}