@charset "utf-8";
// Normalize default styles and browser inconsistencies. see https://necolas.github.io/normalize.css/
@import "normalize";

// Import Bourbon, Neat & Bitters
@import "bourbon";
@import "grid-settings";
@import "neat";
@import "base/base";

@import "refills/icon-bullet-points";

// Import site specific CSS

@import "nav";
@import "section";
@import "footer";
@import "quotes";
@import "timeline";
@import "maps";

@import "hero";

.activities li {
  display: flex;
  align-items: center;

  img {
    margin-right: 1em;
    margin-bottom: 1em;
  }
}

#countdown {
  display: flex;
  flex-direction: column;
  @include media($medium-screen-up) {
    flex-direction: row;
  }

  div {
    margin: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .label {
    text-align: center;
    width: 5em;
    border-bottom: .125em $blue solid;
  }

  .time {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    background: $orange-lighter;
    color: $white;
    font-size: 1.5em;
    height: 3em;
    width: 3em;
    border-radius: 3em;
  }
}

.footer .social {
  display: flex;
  align-items: center;
  justify-content: center;
  a img {
    margin: 1em;
    background: $white;
  }
}

.testimonial {
  margin-top: 1.5em;
}

.unslider
{
  overflow: auto;
  margin: 0;
  padding: 0;
}

.unslider-wrap
{
  position: relative;
}

.unslider-wrap.unslider-carousel>li
{
  float: left;
}

.unslider-vertical>ul
{
  height: 100%;
}

.unslider-vertical li
{
  float: none;
  width: 100%;
}

.unslider-fade
{
  position: relative;
}

.unslider-fade .unslider-wrap li
{
  position: absolute;
  left:0;
  top: 0;
  right: 0;
  z-index: 8;
}

.unslider-fade .unslider-wrap li.unslider-active
{
  z-index: 10;
}

.unslider li,.unslider ol,.unslider ul
{
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
}

.unslider-arrow
{
  position:absolute;
  left: 1em;
  z-index: 2;
  cursor: pointer;
}

.unslider-arrow.next
{
  left: auto;
  right: 1em;
}

.unslider-nav ol
{
  display: none;
  list-style: none;
  text-align: center;
}

.unslider-nav ol li
{
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 4px;
  background: transparent;
  border-radius: 5px;
  overflow: hidden;
  text-indent: -999em;
  border: 2px solid #fff;
  cursor: pointer;
}

.unslider-nav ol li.unslider-active
{
  background: #fff;
  cursor: default;
}

a.unslider-arrow {
  background: $orange-lighter;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.25em;
  color: $white;
  border-radius: 2em;

  &:href {
    color: $white;
  }
}

.rotator {
  color: #e75a35;

  &.odd {
    color: #4ec8cc;
  }
}