html {
  box-sizing: border-box;
}

html,body{
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// using neat to apply outer-container styles to .container divs
.container {
	@include outer-container;
}

.content {
	padding: 1em;
}