// Breakpoints have been moved to _grid-settings.scss, which is loaded before /base and Neat.

// Typography
$base-font-family: $font-stack-system; // Default bourbon stack
$heading-font-family: $base-font-family;

//Viewport height and width
$vh-height : 100vh;
$vh-width : 100vw;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #eee;
$white: #fff;

$orange: #e75a35;
$orange-darker: #c04935;
$orange-lighter: #f08028;
$orange-gradient: #f1583f;
$yellow-gradient: #fee189;
$yellow: #fedd93;
$yellow-darker: #fdcc3c;
$yellow-lighter: #fff8dd;
$pink: #f8a99b;

$blue: #9ee3e8;
$blue-variant: #4ec8cc;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
